.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginationButton {
    background-color: #fafafa;
    border: none;
    color: #3b5998;
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
}

.paginationButton:hover {
    background-color: #3b5998;
    color: #fff;
}

.pageNumber {
    background-color: #fafafa;
    border: none;
    color: #3b5998;
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
}

.pageNumber:hover {
    background-color: #3b5998;
    color: #fff;
}

.selectedPage {
    background-color: #3b5998;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
}