.appWrapper {
    display: flex;
    height: 100vh; /* задаем высоту контейнера на всю высоту окна браузера */
    max-width: 1200px;
    margin: 0 auto;
}

.routes {
    /* контент должен занимать всю доступную ширину */
    display: flex;
    justify-content: center;
    align-items: center;
}