.header {
    grid-area: h;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 13px;
    z-index: 9999;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.input {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #D3D3D3;
    padding: 5px 20px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    height: 12px;
}


.input:focus {
    outline: none;
}