.nav {
    margin-top: 55px;
    background-color: white;
}

a {
    text-decoration: none;
    margin: 35px;
}

.item {
    text-align: center;
    background: #FFFFFF;
    border-bottom: 0.1px solid #E6E6FA;
    background-clip: padding-box;
    padding: 20px;
}

.item:hover {
    text-decoration: underline;
    color: #007bff;
}
