.appWrapper {
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
    /*display: grid;*/
    /*grid-template-areas:*/
    /*"h h"*/
    /*"n c";*/
    /*grid-template-rows: 60px 1fr;*/
    /*grid-template-columns: 2fr 10fr;*/
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: 100vh; /* задаем высоту контейнера на всю высоту окна браузера */
    max-width: 1200px;
    margin: 0 auto;
}

.routes {
    /* контент должен занимать всю доступную ширину */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}