.mainWrapper {
    max-width: 1200px;
}

.dialogs {
    margin-top: 30px;
    padding: 50px;
    display: flex;
    justify-content: inherit;
    /* задаем ширину 100%, чтобы контент занимал всю доступную ширину */
}

.dialog {
    padding: 25px;
    margin-right: 20px;
}

.messages {
    margin-left: 50px;
    width: 400px;
}

.message {
    padding: 5px;
}

.messageInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 8px 16px;
    margin-left: 250px;
    margin-top: 30px;
}

.messagesContainer {
    height: 270px; /* задайте высоту контейнера */
    overflow: auto; /* добавьте прокрутку */
}

.messageInputContainer input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.messageInputContainer input[type="text"]::placeholder {
    color: #a9a9a9;
}

.messageInputContainer .sendButton {
    background-color: #0084ff;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 20px;
    margin-left: 16px;
    cursor: pointer;
}

.messageInputContainer .sendButton:hover {
    background-color: #0066cc;
}


